.radio {
  /*time buttons*/
  margin-right: 10px;
  margin-left: 5px;
}

.notification {
  /*text of push notifications*/
  margin-left: 10px;
}

.radio {
  margin-right: 10px;
  margin-left: 5px;
}

.notification {
  margin-left: 10px;
}

.phone {
  margin-top: 5px;
}

#info-button {
  margin-left: 85px;
  margin-top: 40px;
  width: 250px;
  height: 70px;
  white-space: nowrap;
}

.alert {
  margin-top: 40px;
  margin-left: 50px;
  padding-bottom: 10px;
}

#buy-pass-button {
  margin-left: 85px;
  width: 250px;
  height: 70px;
  white-space: nowrap;
  font-size: 20px;
}

#add-vehicle-button,
#pass-search-button {
  margin-left: 85px;
  width: 250px;
  height: 70px;
  white-space: nowrap;
}

.primary-button {
  background-color: rgb(81, 40, 132) !important;
  border-color: rgb(81, 40, 132) !important;
}

.App-header {
  border-width: 20px !important;
  max-width: 100% !important;
  border-bottom-style: outset;
  border-bottom-width: 0.43in !important;
  border-bottom-color: lightgray;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #420d6e;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

.whitewater-logo {
  max-width: 100%;
  max-height: 100%;
}

.top-bar {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.login-button,
.logout-button {
  width: 50%;
  max-width: 100% !important;
  /*background-color: rgb(106, 105, 107) !important;*/
  /*border-color: rgb(106, 105, 107) !important;*/
}

.sign-up-button {
  width: 50%;
  max-width: 100% !important;
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-container h5 {
  text-align: center;
  font-size: x-large;
  font-style: bold;
  padding-bottom: 20px;
}

.text-container h6 {
  font-size: large;
}

.current-passes {
  align-items: center !important;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 40px;
  width: 25%;
}

.log-in-message {
  align-items: center !important;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 40px;
  line-height: 1.5;
}

.current-passes th {
  white-space: nowrap;
}

.current-passes td {
  white-space: nowrap;
  padding-right: 20px;
}

.add-time-button {
  font-size: 15px !important;
  background-color: rgb(81, 40, 132) !important;
  border-color: rgb(81, 40, 132) !important ;
}

.availability {
  margin-left: 120px;
  margin-top: 40px;
}

.user-passes {
  white-space: nowrap;
}

.row {
  max-width: 100% !important;
}

.col {
  max-width: 100% !important;
}

.header-row {
  padding-right: 100px !important;
}
