#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.radio {
  margin-right: 10px;
  margin-left: 5px;
}

.notification {
  margin-left: 5px;
}

.notificationTime {
  margin-bottom: 5px;
}

#notificationPrompt {
  margin: 10px 0 5px;
}
