 .App-header{
    
    border-width: 20px;
    border-bottom-style:outset;
    border-bottom-width: .5in;
    border-bottom-color:rgb(199, 189, 205);
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  
  background-color: #420d6e;
  /*background-color: black;*/
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  
  
  }

.left-image {
  object-position: 20;
  float:right;
 
  
  height: 10; /* Adjust the height as needed */
  width: 15; /* Automatically adjust the width */
  
}


.radio{ /*time buttons*/
  margin-right: 10px;
  margin-left: 5px;
  

}

.notification{ /*text of push notifications*/
  margin-left: 10px;
  
}
