.radioButtonLabel {
  margin-right: 10px;
  margin-left: 5px;
}

#notificationLabel {
  margin-left: 5px;
}

#notificationTimeSelector {
  margin-bottom: 5px;
}

#notificationPrompt {
  margin: 10px 0 5px;
}

#password-button {
  font-size: 0.5em;
}

#error-message{
color: red;
font-size: 0.75em;
}

#password-alert {
  color: red;
  font-size: 0.75em;
}