#button-size {
    font-size: 0.75em;
}

#footer-text {
    font-size: 0.75em;
}

#password-button {
    font-size: 0.5em;
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
}

#save-button{
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
}

.emailform{
    box-shadow: 2px;
}



#loginbutton{
    border: 3px rgb(81, 40, 132) !important;
    background-color: rgb(81, 40, 132)

    
}


#register-button{
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#emailInput{
    border-radius: 5px;
    border: 1px solid #131111;
    padding: 2px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
}

#passwordInput{
    border-radius: 5px;
    border: 1px solid #131111;
    padding: 2px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
}

.password-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Adjust icon size and color as needed */
  .password-toggle svg {
    width: 100px;
    height: auto;
    color: #555; 
  }
  
  .password-toggle:focus {
    outline: none; 
  }

  .modal-button {
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
  }
