#button-size {
  font-size: 0.75em;
}

#footer-text {
  font-size: 0.75em;
}

#password-button {
  font-size: 0.5em;
  background-color: rgb(81, 40, 132) !important;
  border: 0 !important;
  width: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#password-button svg {
  height: 14px;
}

#save-button {
  background-color: rgb(81, 40, 132) !important;
  border: 3px rgb(81, 40, 132) !important;
}

.emailform {
  box-shadow: 2px;
}

#no-account-text {
  display: inline;
  margin: 0 10px 0 0;
}

#emailInput {
  border: 1px solid #131111;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  width: 250px;
}

#passwordInput {
  border: 1px solid #131111;
  padding: 2px;
  width: 250px;
}
