#passSearchInput {
  width: 220px;
  border: 1px solid #131111;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#passSearchButton {
  margin-top: 1rem;
}

#passSearchResults {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: top;
}

#passSearchResults p {
  margin: 10px 0;
  text-align: center;
}

.pass-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
