.radioButtonLabel {
    margin-right: 10px;
    margin-left: 5px;
   
  }
  
  #notificationLabel {
    margin-left: 5px;
  }
  
  #notificationTimeSelector {
    margin-bottom: 5px;
    
  }
  
  #notificationPrompt {
    margin: 10px 0 5px;
  }
  
  #head1{
    background-color: lightgray;
  }

  .passSearchbutton{
    background-color: purple;

  }

  .passSearchInputContainer {
    display: flex;
    align-items: center;
    background-color: green;
    border-radius: 5px;
    padding: 8px;
  }
  
  .passSearchInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    margin-left: 8px;
    
  }
  

 #pay-button{
  background-color: rgb(81, 40, 132) !important;
  border: 3px rgb(81, 40, 132) !important;
}
 

 
