.save-button{
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
}

.add-button{
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
}

.delete-button{
    background-color: rgb(81, 40, 132) !important;
    border: 3px rgb(81, 40, 132) !important;
    padding: none;
    font-size: 0.75em;  
}

.table-container {
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 100%; 
    border-collapse: collapse;
  }
  
  th, td {
    padding: 6px; /* Adjust padding as needed */
    border: 1px solid #dddddd;
    text-align: left;
  }